@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 234, 234, 234;
  --background-start-rgb: 11, 14, 17;
  --background-end-rgb: 11, 14, 17;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0B0E11;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Custom Gold Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0B0E11;
}

::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9F8C5A;
}